.about-one {
    background-color: var(--primary-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-one {
    max-width: 22vh;
    max-height: 28vh;
    float: left;
    border: 10px solid var(--secondary-color);
    border-radius: 15%;
    margin-right: 100px;
}

.about-one-wrap {
    margin: 50px auto;
    width: 85%;
}

.about-text-one h1 {
    color: var(--primary-text);
    font-size: 32px;
    text-shadow: 1px 1px #944b5c;
    text-underline-offset: 10px;
    margin-bottom: 25px;
}

.about-one-wrap p {
    color: var(--primary-text);
    font-size: 22px;
}

.about-two {
    background-color: var(--primary-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.about-two-wrap {
    margin: 50px auto;
    width: 85%;
}

.about-text-two h1 {
    display: flex;
    color: var(--primary-text);
    font-size: 32px;
    text-shadow: 1px 1px #944b5c;
    text-underline-offset: 10px;
    margin-bottom: 25px;
    justify-content: flex-end;
}

.about-two-wrap p {
    color: var(--primary-text);
    font-size: 22px;
}

.image-two {
    max-width: 30vh;
    float: right;
    border: 10px solid var(--secondary-color);
    border-radius: 15%;
    margin-left: 100px;
}

.about-three {
    background-color: var(--primary-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-three-wrap {
    margin: 50px auto;
    width: 85%;
}

.about-text-three h1 {
    color: var(--primary-text);
    font-size: 32px;
    text-shadow: 1px 1px #944b5c;
    text-underline-offset: 10px;
    margin-bottom: 25px;
}

.about-three-wrap p {
    color: var(--primary-text);
    font-size: 22px;
}

.image-three {
    max-width: 30vh;
    float: left;
    border: 10px solid var(--secondary-color);
    border-radius: 15%;
    margin-right: 100px;
}

.work-link {
    background-color: var(--primary-background);
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.work-link a {
    color: white;
    background-color: var(--secondary-color);
    border: 10px solid var(--secondary-color);
}

.work-link a:hover {
    scale: 120%;
}

@media screen and (max-width: 768px) {
    .about-one-wrap {
        width: 95%;
    }

    .about-two-wrap {
        width: 95%;
    }

    .about-three-wrap {
        width: 95%;
    }

    .image-one {
        margin-right: 3px;
        scale: .8;
    }

    .image-two {
        scale: .8;
        margin-left: 3px;
    }

    .image-three {
        scale: .7;
        margin-right: 3px;
    }

    .about-text-one h1 {
        font-size: 24px;
    }

    .about-text-two h1 {
        font-size: 24px;
    }

    .about-text-three h1 {
        font-size: 24px;
    }

    .about-text-one p {
        font-size: 18px;
    }

    .about-text-two p {
        font-size: 18px;
    }

    .about-text-three p {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .image-one {
        margin-right: 3px;
        scale: .8;
    }

    .image-two {
        scale: .8;
        margin-right: 3px;
        float: left;
    }

    .image-three {
        scale: .7;
        margin-right: 3px;
    }

    .about-text-one h1 {
        font-size: 20px;
    }

    .about-text-two h1 {
        font-size: 20px;
        justify-content: flex-start;
    }

    .about-text-three h1 {
        font-size: 20px;
    }

    .about-text-one p {
        font-size: 16px;
    }

    .about-text-two p {
        font-size: 16px;
    }

    .about-text-three p {
        font-size: 16px;
    }
}