main {
    background-color: var(--primary-background);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2vh;
    padding-left: 5%;
}

.contact-heading h1 {
    color: var(--primary-text);
    text-underline-offset: 8px;
}

.contact-heading p {
    color: var(--primary-text);
    width: 95%;
    margin: 0;
    padding-bottom: 5vh;
}

.contact-links {
    background-color: var(--primary-background);
    min-height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-links a i {
    color: black;
    padding: 10px;
    font-size: 4vh;
}

.contact-links a:hover {
    scale: 130%;
}

.contact-links i:hover {
    color: white;
}

.contact-links p {
    color: white;
    background-color: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    font-size: 2vh;
    margin-right: 2vh;
    margin-bottom: 10vh;
}

.email {
    margin-left: 1.5vh;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-element label {
    font-size: 1.2rem;
}

.form-input {
    border: 1px solid var(--primary-color);
    outline: none;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-input:not(.form-textarea) {
    height: 35px;
}

.form-input:focus {
    box-shadow: 0 0 10px 1px var(--primary-color);
}

.form-textarea {
    resize: vertical;
}

.btn-div {
    margin-bottom: 24px;
    text-align: center;
}

.submit-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: 40px;
    min-width: 120px;
    font-size: 1.2rem;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #5ebbda;
}

.contact-form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px solid var(--secondary-color);
    margin-bottom: 6vh;
    border-radius: 15%;
    min-width: 70vh;
    box-shadow: 0px 0px 20px 2px var(--primary-color);
    /* background-color: white; */
}

form {
    padding: 6vh;
}

.contact-form h2 {
    display: flex;
    justify-content: center;
    font-size: 3.5vh;
    padding-top: 5vh;
}

.home-link {
    background-color: var(--primary-background);
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    padding-bottom: 6vh;
}

.home-link a {
    color: white;
    background-color: var(--secondary-color);
    border: 10px solid var(--secondary-color);
}

.home-link a:hover {
    scale: 120%;
}