main {
    background-color: var(--primary-background);
    margin: 0;
}

.contact-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2vh;
    padding-left: 5%;
}

.contact-heading h1 {
    color: var(--primary-text);
    text-underline-offset: 8px;
}

.contact-heading p {
    color: var(--primary-text);
    width: 95%;
    margin: 0;
    padding-bottom: 5vh;
}

.contact-links-main {
    display: flex;
    
}

.contact-links {

}