.main-profile {
    background-color: var(--primary-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
}

img {
    max-width: 35vh;
    float: left;
    border: 10px solid var(--secondary-color);
    border-radius: 15%;
    margin-right: 100px;
}

.profile {
    margin: 150px auto;
    width: 70%;
}

.profile-text h1 {
    color: var(--primary-text);
    font-size: 5vh;
    text-shadow: 2px 2px var(--secondary-text);
    text-underline-offset: 12px;
}

.profile p {
    color: var(--primary-text);
    font-size: 24px;
}

.about-link {
    background-color: var(--primary-background);
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.about-link a {
    color: white;
    background-color: var(--secondary-color);
    border: 10px solid var(--secondary-color);
}

.about-link a:hover {
    scale: 120%;
}

@media screen and (max-width: 768px) {
    .main-profile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img {
        scale: .75;
        float: right;
    }

    .profile-text {
        scale: .75;
        margin-left: 6vh;
    }
}

@media screen and (max-width: 576px) {
}