:root {
   --primary-color: #0A2239;
   --primary-hover: #75C2DF;
   --secondary-color: #208AAE;
   --primary-background: #EAEBBF;
   --primary-text: #AA6373;
}

.primary-header {
    background-color: var(--primary-color);
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.profile-name {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 50px;
}

.navigation-header {
    background-color: var(--secondary-color);
    min-height: 30px;
    display: grid;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}

.profile-photo img {
    display: flex;
    max-width: 1000px;
    margin-left: 500px;
    border-radius: 50%;
}

.social-media {
    background-color: var(--secondary-color);
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primary-footer {
    background-color: var(--primary-color);
    min-height: 60px;
}

section {
    background-color: var(--primary-background);
}

.social-media a i {
    color: black;
    font-size: 25px;
}