:root {
   --primary-color: #0A2239;
   --secondary-hover: #75C2DF;
   --secondary-color: #208AAE;
   --primary-background: #EAEBBF;
   --primary-text: #AA6373;
   --secondary-text: #944b5c;
}

body {
    margin: 0;
}

.primary-header {
    background-color: var(--primary-color);
    min-height: 60px;
    display: flex;
}

.profile-name {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vh;
    margin-left: 50px;
}

nav {
    background-color: var(--secondary-color);
    min-height: 2vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2vh;
    color: white;
}

nav a:hover,
nav a.active {
    color: white;
    scale: 125%;
}

.social-media {
    background-color: var(--secondary-color);
    min-height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primary-footer {
    background-color: var(--primary-color);
    min-height: 5vh;
}

.social-media a i {
    color: black;
    padding: 10px;
    font-size: 2.5vh;
}

.social-media a:hover {
    scale: 130%;
}

.social-media i:hover {
    color: white;
}